<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<header style="width: 100%; background-color: bisque; border: black  solid">
    <div style="width: 50%; position: center; padding-left: 35% ;">
        <h1>Welcome to my TO DO LIST site</h1>
    </div>
</header>
<div style="background-color: burlywood; width: 30%">
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" style="padding-left: 20px">logout</a>
    {% else %}
        <a href="{% url 'login' %}" style="padding-left: 20px">login</a>
          <p style="padding-left: 20px">Dont have a account? <a href="{% url 'register' %}">register now</a></p>
    {% endif %}

</div>
<hr>{% if user.is_authenticated %}
<a href="{% url 'tasklist' %}"><h3>To your TODOList</h3></a>
{% endif %}
</body>
</html>